[
{kernel,
	[{distributed, [
	{'orchestrator', 5000, ['orchestrator1@127.0.0.1', {'orchestrator2@127.0.0.1', 'orchestrator3@127.0.0.1'}]}]},
	 {sync_nodes_mandatory, ['orchestrator2@127.0.0.1',  'orchestrator3@127.0.0.1']},
	 {sync_nodes_timeout, 30000}
]},

{orchestrator,
	[{port, 4005}, {ip, {127,0,0,1}}]
}
].